span.ID {
    color:red;
}

span.RW {
    color: green;
}
span.RW2 {
    color: blue;
}

span.NUMBER{
    color:darkblue;
}
span.NUMBER1{
    color:blue;
}
span.NUMBER2{
    color:navy;
}
span.AA {
    color:darkred;
}
span.COMM {
    color:darkgrey;
}
span.INC {
    color:brown;
}
