span.ID {
    color:black;
}

span.RW {
    color: rgb(158, 175, 0);
}

span.RW2 {
    color: rgb(8, 49, 0);
}

span.NUMBER{
    color:DodgerBlue;
}

span.NUMBER1{
    color:blue;
}

span.NUMBER2{
    color:CornflowerBlue;
}

span.AA {
    color:darkred;
}


span.INC {
    color:darkslateblue;
}
span.MATH {
    color:darkseagreen;
}

span.DIV {
    color:DarkViolet;
}
