span.ID {
    color:MediumVioletRed;
}

span.RW {
    color: teal;
}

span.RW2 {
    color: OliveDrab;
}

span.NUMBER{
    color:DodgerBlue;
}

span.NUMBER1{
    color:blue;
}

span.NUMBER2{
    color:CornflowerBlue;
}

span.AA {
    color:darkred;
}

span.COMM {
    color:darkgrey;
}

span.INC {
    color:brown;
}
span.MATH {
    color:DarkSlateBlue;
}

span.DIV {
    color:DarkViolet;
}
