/*
Archivo donde se definen los estilos de las diferentes categorías léxicas, en la mayorí a se cambió el color de la fuente 
Yusdivia Molina Román A01653120
Lidia Paola Díaz Ramírez A01369117
Fecha de modificación: 16/04/2021
*/
span.ID {
    color: #643973;   
}

span.RW {
    color: rgb(158, 175, 0);
    font-style: italic;
}

span.RW2 {
    color: rgb(8, 49, 0);
    font-style: italic;
}

span.NUMBER{
    
    color: #609b55;
    font-style: oblique;
}

span.NUMBER1{
    color: #90b061;
    font-style: oblique;
}

span.NUMBER2{
    color: #9CB37B;
    font-style: oblique;   
}

span.STRING {
    color:#3f7898;
}


span.INC {
    color:brown;  
}

span.MATH {
    color:#c16266;  
}

span.DIV {
   font-weight: bold;   
}

span.COMP{
   color:darkslateblue;
}

span.CARACT{
    text-shadow:  0 -1px;
}
